body {
    background-color: #cccccc;
    font-family: arial,helvetica,sans-serif;
}
.videoGameHeadline {
    font-size: 12pt;
    font-weight: bold;
}
.videoGameDescription {
    font-size: 10pt;
}
label {
    font-weight: bold;
}
